<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do CheckList</title>
    
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div id="daily-tasks">
    <strong><div id="clock" class="clock"></div></strong>
        <h2>Daily Tasks Checklist</h2>
        <label for="taskStatus"> Status: </label>
        <span class="color-point" style="background-color: red;"></span> Doing
        <span> &nbsp; &nbsp; &nbsp </span>
        <span class="color-point" style="background-color: green;"></span> Done
        <ul id="tasks-list"></ul>
        <button id="add-task-btn">Add New Task</button>
    </div>
    <div id="editTaskModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Edit Task</h2>
            <form id="editTaskForm">
                <input type="hidden" id="editingTaskId" >
                <label for="taskTitle">Task Title:</label>
                <input type="text" id="taskTitle" name="taskTitle">
                <label for="taskDescription">Task Description:</label>
                <textarea id="taskDescription" name="taskDescription"></textarea>
                <button type="submit" class="saveChangesBtn">Save Changes</button>
            </form>
        </div>
    </div>

    <div id="addTaskModal" class="modal">
        <div class="modal-content">
            <span class="close" onClick="closeAddTaskModal">&times;</span>
            <h2>Add New Task</h2>
            <form id="addTaskForm">
                <label for="newTaskTitle">Task Title:</label>
                <input type="text" id="newTaskTitle" name="newTaskTitle" required>
                <label for="newTaskDescription">Task Description:</label>
                <textarea id="newTaskDescription" name="newTaskDescription" required></textarea>
                <button type="submit" class="saveBtn">Save Task</button>
            </form>
        </div>
    </div>
    
    <script type="module" src="static/js/index.js"></script>
</body>
</html>