body {
    font-family: Arial, sans-serif;
}

#daily-tasks {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}



#tasks-list {
    
    padding: 10px;
    border-bottom: 5px;
}

#tasks-list li {
    padding: 5px;
    border-bottom: 1px;
    margin-bottom: 5px; 
}
.item-completed {
    margin-top: -10px;
    margin-bottom: 20px;
}
.save-btn, .edit-btn, .delete-btn {
     
    margin-bottom: 10px; 
    
}
#tasks-list li:last-child {
    border-bottom: none;
}

#tasks-list ol {
    padding: 5px;
    margin-top: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
}

.clock {
    font-size: 24px;
    margin-bottom: 20px;
    
}



.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.task-item label {
    font-weight: bold;
}






